
body {
    margin: 0;
    background-color: #C08261;
    font-family: 'Roboto Slab', serif;
    padding-bottom: 20px;
}

img {
    max-width: 100%;
}

h2 {
    font-size: 1.6rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #F2ECBE;
    background-color: #9A3B3B;
    margin-bottom: 15px;
}

.wrapper {
    padding: 0 1rem;
}

.news {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap: 2rem;
}

.news__card {
    border-radius: 20px;
    text-decoration: none !important;
    color: black;
    background-color: #E2C799;
    padding: 20px;
}

.news__card:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16), 0 5px 5px rgba(0, 0, 0, 0.23);
}

hr {
    width: 70%;
    border-top: rgb(83, 79, 79) 2px solid;
}

.Brand-logo {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 20px;
    font-size: 2rem;
}
